.DS_Store

# Ignore build output directories
/bin/
/obj/

# Ignore build artifacts
*.dll
*.pdb
*.exe
*.log
*.tmp

# Ignore source link and cache files
*.sourcelink.json
*.cache

# Ignore assembly info files in obj directories
obj/Debug/
obj/Release/

# Ignore user-specific files
.vs/
.idea/
.vscode/
*.user
*.suo

# Ignore the 'logs' folder where log files are stored
/logs/

SourceCode/CreatingWebApplication/CWA/bin/
SourceCode/CreatingWebApplication/CWA/logs/
SourceCode/CreatingWebApplication/CWA/obj